body {
    margin: 0px;
    width: 100%;
    height: auto;
    background-color: rgb(225, 223, 231);
    background-size: cover;
    background-repeat: no-repeat;
}
html,p,td{
    font-family:Montserrat , Helvetica, Arial,sans-serif ;
    font-size: 16px;


}
#myDIV1,#myDIV2{
    margin-top: 30px;
    align-items: center;
}

.red{
    text-align: center;
}
.prix{
    color: white;
    background-color:rgb(23, 38, 70) ;
    margin-left: 20px;
    width: 32%;
}
.prix:hover{
    
    cursor: pointer;
}
.prix p{
    color: white;
        width: 80%;
        display: flex;
        height: 100px;
        margin: 10px 10px;
        
    }
    .prix p:hover, .prix p a:hover{
        color: #efd807 ;
    }
    .slick-slide {
        transition : all linear .2s;
        
    }
    .slider .slick-center .items{
        background-color: rgb(3, 18, 47);
    }
    .slider .slick-center .items p {
        color: white;
    }
    .slick-slide{
        margin-left: 10px ;
    }
    .slider .items {
        width: 100px;
        height: auto;
        background-color: #1b1b1bab;
        margin-left: 10px;
    }
    
    .slider .items p {
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
        color: white;
    }
    .circle{
        position: relative;
        width: 50px;
        height: 50px;
        background: linear-gradient(rgb(51, 130, 204),#e6b12a);
        border-radius: 50%;
    
    }
    .circle:after{
        content: "";
        position: absolute;
        top: 5px;
        right: 5px;
        left: 5px;
        bottom: 5px;
        border-radius: 50%;
        background-color: #03122ffa;
        
    }
    .circle span{
        position: absolute;
        width: 100%;
        height: 100%;
        background:linear-gradient(rgb(51, 130, 204),#e6b12a);
        border-radius:50%;
    }
    .circle span:nth-child(1){
        filter:blur(5px);
    }
    .circle span:nth-child(2){
        filter:blur(10px);
    }
    .circle span:nth-child(3){
        filter:blur(20px);
    }
    
    .info {
        height: auto;
        width: 95%;
        background-color: rgba(255, 255, 255, 1);
        margin: 2%;
        padding: 5px 10px;
    }
    
    .details_vol {
        margin: 2%;
        height: 600px;
        width: 25%;
        
    }
    .slick-prev:before, .slick-next:before {
        font-family: 'slick';
        font-size: 20px;
        line-height: 1;
        opacity: 1 !important;
        color: rgb(143, 110, 3) !important;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .left {
        width: 80%;
        height: auto;
    }
    
    .selecte {
        display: block;
        color: rgb(0, 0, 0);
        font-weight: bold;
        background-color: rgb(245, 240, 240,0.57);
    }
    
    .selecte option {
        color: black;
    }
    .btn, .btn:hover , .btn:active{
        background-color: black;
        border:3px solid #eaa025;
        color:white;
    }
    
    
    #tri,
    #filtre {
        margin-right: 10px;
        border-bottom: black 2px solid !important;
    }
}

.butn {
    width: 25%;
    height:50px;
    padding: 10px 20px 10px 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: rgb(1, 1, 37);
    color: white;
    border: 5px solid goldenrod;
    font-weight: 800;
    margin: 10px;
}

.butn:hover,.butn:focus {
    background-color: rgb(236, 222, 139);
    color: rgb(1, 1, 37);
}
.item{
    align-items: center;
    padding-left: 30px;
    
}


b {
    color: rgb(0, 0, 0);
    font-weight: bolder;
}

.more_info {
    float: right;
    color:white;
    font-weight: bolder;
}

.item:hover {
    cursor: pointer;
    background-color: #021335;
}

.formulaire {
    width: 60% !important;
}

.suiv {
    margin: 0px 12px 12px 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #110c88;
}

.input-field>label {
    color: rgb(0, 0, 0);
}
button:focus{
    background-color: white;
}

.collapsible-header{
    border: 2px solid #040d4a;
    border-radius: 10px;
}

input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea {
    border-bottom: 2px solid black;
}

.navbar {
    width: 100%;
    margin-bottom: 0%;
    height: 60px;
}

.btn-floating.btn-large {
    width: 45px;
    height: 45px;
    padding: 0px;
    background-color: #efd807 !important;
    font-size: 30px;
    color: black;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: rgb(252, 246, 246);
}

.form_select_vol {
    height: auto;
    margin: auto;
}

.flex {
    display: flex;
}

div.numero {
    border: 1px;
    border-radius: 50%;
    background-color: blanchedalmond;
    width: 15%;
    height: 30%;
}

 .item p ,a{
    font-family:Montserrat , Helvetica, Arial,sans-serif ;
    padding: 2px 30px;
    color:rgb(248, 247, 247);
    font-weight: 750;
    font-size: 16px;
}

.btn_continuer {
    background-color: rgb(53, 6, 6) !important;
}
.items p{
    font-size:18px;
}

/* fallback */

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v48/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

html {
    color: rgb(0, 0, 0);
}
.collapsible{
    background-color: white;
}
@media only screen and (max-width: 720px) {
    body {
        display: block;
    }
    .btn-floating {
        display: none;
    }
    .more_info {
        float: left;
    }
    .selec{
        display: block;
    }
    .selecte{
        width: 100%;
        margin-top:3%;
    }
    .flex{
        display: block;
    }
    .all-width{
        width: 100% !important;
    }
    .butn {
        margin:2px !important;
        width: 30% !important;
        height: 60px !important;
    }
    .left{
        width:100% !important;
    }
    .details_vol {
        width: 100% !important;
        background-color: rgb(225, 223, 231) !important;
    }
    .prix{
        margin: 0px;
    }
}


